@page
@using MongoDB.Bson
@using MongoDB.Driver
@inject IMongoDatabase Database
@{
    ViewData["Title"] = "Clients and Subscriptions";
    
    // Fetch clients and their subscriptions from the database
    var clientsCollection = Database.GetCollection<BsonDocument>("Clients");
    var clients = clientsCollection.Find(new BsonDocument()).ToList();

    // Prepare a list to hold the subscriptions data
    var subscriptions = new List<BsonDocument>();
    
    foreach (var client in clients)
    {
        var subscriptionId = client["SubscriptionId"].AsObjectId; // Assuming you have a SubscriptionId in Clients
        var subscriptionsCollection = Database.GetCollection<BsonDocument>("Subscriptions");
        var subscription = subscriptionsCollection.Find(Builders<BsonDocument>.Filter.Eq("_id", subscriptionId)).FirstOrDefault();

        if (subscription != null)
        {
            subscriptions.Add(new BsonDocument
            {
                { "ClientName", client["Name"] },
                { "SubscriptionType", subscription["Type"] },
                { "PurchaseDate", subscription["StartDate"] }
            });
        }
    }
}

<h1>Clients and Their Subscriptions</h1>

<table class="table">
    <thead>
        <tr>
            <th>Client Name</th>
            <th>Subscription Type</th>
            <th>Purchase Date</th>
        </tr>
    </thead>
    <tbody>
        @if (subscriptions.Count > 0)
        {
            foreach (var sub in subscriptions)
            {
                <tr>
                    <td>@sub["ClientName"]</td>
                    <td>@sub["SubscriptionType"]</td>
                    <td>@sub["PurchaseDate"].ToUniversalTime().ToShortDateString()</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">No clients found.</td>
            </tr>
        }
    </tbody>
</table>
